@import url(./material.css);

@font-face {
	font-family: "Square Sans Serif 7";
	src: url('../fonts/square_sans_serif_7.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-MediumItalic.ttf");
	font-style: italic;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(var(--backgroundRGB), 0.2);
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsla(200, 100%, 14%, 0.8);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--backgroundRGB), 1);
}

* {
	outline: 0;
}

body {
	margin: 0;
	font-family: Roboto;
}

body.noPointer {
	pointer-events: none;
}

button,
input,
textarea,
select {
	display: inline-block;
	border: 0;
	margin: 1px;
	border-radius: 2px;
	vertical-align: middle;
	box-sizing: content-box;
}


button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	padding: 4px 10px;
	line-height: 14px;
	font-size: 11px;
	cursor: pointer;
	text-transform: uppercase;
}

button.big,
input[type="button"].big,
input[type="submit"].big,
input[type="reset"].big {
	padding: 6px 20px;
	line-height: 18px;
	font-size: 14px;
}

button.red,
input[type="button"].red,
input[type="submit"].red,
input[type="reset"].red {
	background: #5b1010;
	background: #9b1b1b;
}

button:disabled {
	filter: grayscale(0.7);
	opacity: 0.6;
	cursor: default;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea,
select {
	padding: 4px;
	line-height: 14px;
	font-size: 12px;
}

input[type="time"] {
	padding: 2px;
	line-height: 14px;
	font-size: 12px;
}

input[type="checkbox"]:not(.vanilla) {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0px 10px;
	vertical-align: middle;
	line-height: 20px;
	cursor: pointer;
}

input[type=checkbox]:not(.vanilla)+label {
	opacity: 0.5;
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;

	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

input[type=checkbox]:not(.vanilla):checked+label {
	opacity: 1;
}

input[type=checkbox]:not(.vanilla).red:checked+label {
	color: #f00;
}

input[type=checkbox]:not(.vanilla).green:checked+label {
	color: #0d0;
}

input[type="checkbox"]:not(.vanilla):before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;

	border-radius: 2px;
	cursor: pointer;
}

input[type="checkbox"]:not(.vanilla):after {
	content: '';
	position: absolute;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(var(--backgroundRGB));
	opacity: 0.2;
}

input[type="checkbox"]:not(.vanilla):checked:after {
	opacity: 1;
	background: #359b1b;
}

input[type="checkbox"]:not(.vanilla).red:checked:after {
	background: #f00;
	box-shadow: 0px 0px 8px #f00;
}

input[type="checkbox"]:not(.vanilla).green:checked:after {
	background: #0a0;
	box-shadow: 0px 0px 8px #0a0;
}

div.dragable:not(.dragging) {
	transition: transform 100ms;
}

div.dragable.dragging {
	z-index: 100 !important;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	opacity: 0.9;
	cursor: move;
	filter: brightness(1.3);
}

#titlebar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 24px;
	background: rgb(0, 51, 77);
	background: #03161f;
	color: rgba(255, 255, 255, 0.8);
	display: grid;
	grid-template-columns: 24px 1fr auto;
	-webkit-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 2px #000;
	-webkit-app-region: drag;
}

.titlebarLogo {
	background: url(../img/logo.svg);
	width: 19px;
	height: 19px;
	background-size: contain;
	margin: 2.5px;
	-webkit-app-region: drag;
}

.focused #titlebar {
	background: rgb(0 49 73 / 50%);
	color: rgba(var(--textRGB), 1);
}

#titlebar .title {
	position: relative;
	font-size: 12px;
	height: 14px;
	opacity: 0.9;
	padding: 0px 10px;
	align-self: center;
}

#titlebar .title:after {
	content: '';
	position: absolute;
	left: 5px;
	right: 5px;
	top: 0px;
	bottom: -5px;
	-webkit-app-region: drag;
}

body.maximized #titlebar .title:after {
	left: -5px;
	right: 5px;
	top: -5px;
	bottom: -5px;
}

#titlebar .controls {
	-webkit-app-region: no-drag;
	display: grid;
	grid-auto-columns: 30px;
	grid-auto-flow: column;
}

#titlebar .controls div {
	background-size: auto 60%;
	background-position: 50%;
	background-repeat: no-repeat;
	opacity: 0.7;
}

#titlebar .controls .close {
	background-image: url('../img/window-close.svg');
}

#titlebar .controls .minimize {
	background-image: url('../img/window-minimize.svg');
}

#titlebar .controls .maximize {
	background-image: url('../img/window-maximize.svg');
}

#titlebar .controls div:hover {
	background-color: rgba(255, 255, 255, 0.05);
	opacity: 1;
}

#titlebar .controls .close:hover {
	background-color: rgba(255, 0, 0, 0.9);
}


item>input[type="checkbox"].toggle-color {
	position: absolute;
	top: 11px;
	right: 10px;
}

.item>input[type="checkbox"].toggle-color:not(:checked):after {
	background: transparent;
}

.item>input[type="checkbox"].toggle-color:after {
	background: #0f0;
}

.item>input[type="checkbox"].toggle-color:before {
	background: #f00;
}

.item>input[type="checkbox"].toggle-color:checked {
	transform: scale(1.2);
}

.item>input[type="checkbox"].toggle-color:checked:before {
	background: #0c0;
}
.hide{
	display: none;
}
.item.item-short{
	display: flex;
}
details{
	margin-top: 10px;
	margin-bottom: 10px;
}